*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}
.top-info,
.bottom-info {
    background-color: beige;
    height: 70px;
    width: 720px;
}

.top-info{
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.bottom-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}




.canvas{
    background-color: blanchedalmond;
}